@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-primary: #38BDF8;
  --color-secondary: #1E3A8A;
  --color-success: #22C55E;
  --color-yellow: #FACC15;
  --color-text: #1F2937;

  --font-heading: var(--font-inter);
  --font-body: var(--font-dm-sans);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', system-ui, sans-serif;

}
